.margin-and-pading{
    margin: 10px;
    padding: 10px;
}

.container-photos{
    display: grid;
    grid-template-columns: repeat(5, auto);
}

.container-photos > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 2 2 0px;
    text-align: center;
}